/* HEADER START */
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  border-color: var(--blue);
}
.navbar-toggler .navbar-toggler-icon {
  filter: invert(35%) sepia(25%) saturate(4114%) hue-rotate(181deg)
    brightness(85%) contrast(94%);
}
header .navbar {
  padding: 0.7rem 0;
}
header .navbar .navbar-collapse .navbar-nav {
  align-items: center;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--black);
  font-weight: 400;
  padding: 0.8rem;
  font-size: clamp(14px, 1.3vw, 16px);
}
header .navbar .navbar-collapse .navbar-nav .request-btn {
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 16px);
  color: var(--white);
  background-color: var(--blue);
}
/* HEADER END */

.read-more {
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  background-color: var(--blue);
}
.read-more:hover {
  border-color: var(--blue);
  background-color: var(--white);
}
.read-more:hover a {
  color: var(--blue);
}
.read-more a {
  font-weight: 400;
  color: var(--white);
  font-size: clamp(14px, 1.3vw, 16px);
}
/* ================================================================== */

/* MAIN START */
/* ---------------------- */
/* banner section start */
.banner-wrapper img {
  width: 100%;
  object-fit: cover;
  /* max-height: 600px; */
  height: clamp(300px, 50vw, 600px);
}
/* banner section end */
/* ---------------------- */
/* bannet content start */
.grey-bg {
  background-color: var(--grey-bg);
}
.banner-content-wrapper {
  padding: clamp(20px, 6vw, 80px) 0;
}
.banner-content-wrapper .banner-content-header {
  font-weight: 700;
  margin: 0;
  color: var(--black);
  font-size: clamp(26px, 4vw, 56px);
}

.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-description {
  font-weight: 400;
  margin: 0;
  color: var(--black);
  font-size: clamp(14px, 1.5vw, 18px);
}
.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper {
  margin-top: clamp(15px, 2vw, 30px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: center;
  gap: clamp(10px, 1.5vw, 20px);
}

.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper
  .request-btn {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  border-color: var(--grey);
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
/* bannet content end */
/* ---------------------- */
/* sustainable development start */
.sustainable-development-wrapper {
  padding: clamp(20px, 8vw, 96px) 0;
}
.sustainable-development-wrapper .image-wrapper img {
  width: 100%;
  object-fit: cover;
  border-radius: clamp(18px, 3vw, 40px);
  height: clamp(300px, 50vw, 600px);
}
.sustainable-development-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(10px, 2vw, 30px);
}
.sustainable-development-wrapper .content-wrapper .header {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  font-size: clamp(22px, 3vw, 40px);
}
.sustainable-development-wrapper .content-wrapper .description {
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1.5vw, 18px);
}
.sustainable-development-wrapper .content-wrapper .extra-wrapper {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 2vw, 30px);
}
.sustainable-development-wrapper .content-wrapper .extra-wrapper .extra-lr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(5px, 1vw, 16px);
}
.sustainable-development-wrapper .content-wrapper .extra-wrapper .extra-lr img {
  width: 48px;
  height: 48px;
}
.sustainable-development-wrapper
  .content-wrapper
  .extra-wrapper
  .extra-lr
  .header-title {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  font-size: clamp(16px, 1.5vw, 20px);
}
/* sustainable development end */

/* about description (home) start */
.green-bg {
  background-color: var(--green-bg);
}
.about-description-wrapper {
  padding: clamp(20px, 8vw, 96px) 0;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 50px);
}
.about-description-wrapper .about-description-wrapper-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 2vw, 10px);
}
.about-description-wrapper .about-description-wrapper-top .enter-title {
  color: var(--black);
  font-weight: 600;
  margin: 0;
  font-size: clamp(14px, 1vw, 16px);
}
.about-description-wrapper
  .about-description-wrapper-top
  .about-description-header {
  color: var(--black);
  width: 100%;
  max-width: 768px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  font-size: clamp(24px, 3.5vw, 48px);
}
.about-description-wrapper
  .about-description-wrapper-top
  .about-description-title {
  width: 100%;
  max-width: 768px;
  text-align: center;
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1.5vw, 18px);
}
.about-description-wrapper .about-description-wrapper-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(10px, 2vw, 30px);
}
.about-description-wrapper .about-description-wrapper-bottom .box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: clamp(10px, 2vw, 30px);
}
.about-description-wrapper .about-description-wrapper-bottom .box img {
  width: 48px;
  height: 48px;
}
.about-description-wrapper
  .about-description-wrapper-bottom
  .box
  .about-bottom-header {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  font-size: clamp(18px, 2vw, 32px);
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.about-description-wrapper
  .about-description-wrapper-bottom
  .box
  .about-bottom-description {
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(13px, 1vw, 16px);
}
.about-description-wrapper .about-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 1.5vw, 30px);
  margin-top: clamp(10px, 1.5vw, 30px);
}
.about-description-wrapper .about-btn-wrapper .request-btn {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  font-weight: 400;
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}

/* about description (home) end */
/* MAIN END */

/* ================================================================== */

/* REQUEST MODAL START */
.request-modal {
  position: fixed;
  width: 100%;
  max-width: clamp(300px, 90vw, 650px);
  background-color: var(--white);
  padding: clamp(10px, 2vw, 25px);
  border-radius: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.request-modal .request-modal-header {
  display: flex;
  justify-content: end;
}
.request-modal .request-modal-body .request-modal-header-content {
  text-align: center;
  padding: 10px clamp(5px, 3vw, 37px);
}
.request-modal .request-modal-body .request-modal-header-content h1 {
  color: var(--black);
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: clamp(26px, 4vw, 48px);
}
.request-modal .request-modal-body .request-modal-header-content p {
  color: var(--black);
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: clamp(15px, 1.5vw, 18px);
}
.request-modal .request-modal-body .form-wrapper {
  padding: 10px clamp(5px, 3vw, 37px);
}
.request-modal .request-modal-body .form-wrapper label {
  margin-bottom: 0;
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper input {
  padding: 10px;
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper input:focus {
  box-shadow: 0 0 0 0.05rem var(--blue);
}
.request-modal .request-modal-body .form-wrapper textarea {
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper textarea:focus {
  box-shadow: 0 0 0 0.05rem var(--blue);
}
.request-modal .request-modal-body .form-wrapper .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.request-modal .request-modal-body .form-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 16px);
  color: var(--white);
  background-color: var(--blue);
}
/* REQUEST MODAL END */

/* ================================================================== */

/* OVERLAY START */
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
}
/* OVERLAY END */

/* ================================================================== */
