/* HEADER START */
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  border-color: var(--blue);
}
.navbar-toggler .navbar-toggler-icon {
  filter: invert(35%) sepia(25%) saturate(4114%) hue-rotate(181deg)
    brightness(85%) contrast(94%);
}
header .navbar {
  padding: 0.7rem 0;
}
header .navbar .navbar-collapse .navbar-nav {
  align-items: center;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--black);
  font-weight: 400;
  padding: 0.8rem;
  font-size: clamp(14px, 1.3vw, 16px);
}
header .navbar .navbar-collapse .navbar-nav .request-btn {
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 16px);
  color: var(--white);
  background-color: var(--blue);
}
/* HEADER END */

/* ================================================================== */

/* MAIN START */
/* ---------------------- */
/* banner section start */
.banner-wrapper img {
  width: 100%;
  object-fit: cover;
  /* max-height: 600px; */
  height: clamp(300px, 50vw, 600px);
}
/* banner section end */
/* ---------------------- */
.grey-bg {
    background-color: var(--grey-bg);
}
.banner-content-wrapper {
  padding: clamp(20px, 6vw, 80px) 0;
}
.banner-content-wrapper .banner-content-header {
  font-weight: 700;
  margin: 0;
  color: var(--black);
  font-size: clamp(26px, 4vw, 56px);
}

.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-description {
  font-weight: 400;
  margin: 0;
  color: var(--black);
  font-size: clamp(14px, 1.5vw, 18px);
}
.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper {
  margin-top: clamp(15px, 2vw, 30px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: center;
  gap: clamp(10px, 1.5vw, 20px);
}
.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper
  .read-more {
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  background-color: var(--blue);
}
.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper
  .read-more
  a {
  font-weight: 400;
  color: var(--white);
  font-size: clamp(14px, 1.3vw, 16px);
}
.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper
  .request-btn {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  border-color: var(--grey);
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
/* MAIN END */

/* REQUEST MODAL START */
.request-modal {
  position: fixed;
  width: 100%;
  max-width: clamp(300px, 90vw, 650px);
  background-color: var(--white);
  padding: clamp(10px, 2vw, 25px);
  border-radius: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.request-modal .request-modal-header {
  display: flex;
  justify-content: end;
}
.request-modal .request-modal-body .request-modal-header-content {
  text-align: center;
  padding: 10px clamp(5px, 3vw, 37px);
}
.request-modal .request-modal-body .request-modal-header-content h1 {
  color: var(--black);
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: clamp(26px, 4vw, 48px);
}
.request-modal .request-modal-body .request-modal-header-content p {
  color: var(--black);
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: clamp(15px, 1.5vw, 18px);
}
.request-modal .request-modal-body .form-wrapper {
  padding: 10px clamp(5px, 3vw, 37px);
}
.request-modal .request-modal-body .form-wrapper label {
  margin-bottom: 0;
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper input {
  padding: 10px;
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper input:focus {
  box-shadow: 0 0 0 0.05rem var(--blue);
}
.request-modal .request-modal-body .form-wrapper textarea {
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper textarea:focus {
  box-shadow: 0 0 0 0.05rem var(--blue);
}
.request-modal .request-modal-body .form-wrapper .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.request-modal .request-modal-body .form-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 16px);
  color: var(--white);
  background-color: var(--blue);
}
/* REQUEST MODAL END */

/* OVERLAY START */
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
}
/* OVERLAY END */
