/* HEADER START */
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  border-color: var(--blue);
}
.navbar-toggler .navbar-toggler-icon {
  filter: invert(35%) sepia(25%) saturate(4114%) hue-rotate(181deg)
    brightness(85%) contrast(94%);
}
header .navbar {
  padding: 0.7rem 0;
}
header .navbar .navbar-collapse .navbar-nav {
  align-items: center;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--black);
  font-weight: 400;
  padding: 0.8rem;
  font-size: clamp(14px, 1.3vw, 16px);
}
header .navbar .navbar-collapse .navbar-nav .request-btn {
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 16px);
  color: var(--white);
  background-color: var(--blue);
}
/* HEADER END */

.read-more {
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  background-color: var(--blue);
}
.read-more:hover {
  border-color: var(--blue);
  background-color: var(--white);
}
.read-more:hover a {
  color: var(--blue);
}
.read-more a {
  font-weight: 400;
  color: var(--white);
  font-size: clamp(14px, 1.3vw, 16px);
}
/* ================================================================== */

/* MAIN START */
/* ---------------------- */
/* banner section start */
.banner-wrapper img {
  width: 100%;
  object-fit: cover;
  /* max-height: 600px; */
  height: clamp(300px, 50vw, 600px);
}
/* banner section end */
/* ---------------------- */
/* bannet content start */
.grey-bg {
  background-color: var(--grey-bg);
}
.banner-content-wrapper {
  padding: clamp(20px, 6vw, 80px) 0;
}
.banner-content-wrapper .banner-content-header {
  font-weight: 700;
  margin: 0;
  color: var(--black);
  font-size: clamp(26px, 4vw, 56px);
}

.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-description {
  font-weight: 400;
  margin: 0;
  color: var(--black);
  font-size: clamp(14px, 1.5vw, 18px);
}
.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper {
  margin-top: clamp(15px, 2vw, 30px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: center;
  gap: clamp(10px, 1.5vw, 20px);
}

.banner-content-wrapper
  .banner-content-description-wrapper
  .banner-content-btn-wrapper
  .request-btn {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  border-color: var(--grey);
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
/* bannet content end */
/* ---------------------- */
/* sustainable development start */
.sustainable-development-wrapper {
  padding: clamp(20px, 8vw, 96px) 0;
}
.sustainable-development-wrapper .image-wrapper img {
  width: 100%;
  object-fit: cover;
  border-radius: clamp(18px, 3vw, 40px);
  height: clamp(300px, 50vw, 600px);
}
.sustainable-development-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(10px, 2vw, 30px);
}
.sustainable-development-wrapper .content-wrapper .header {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  font-size: clamp(22px, 3vw, 40px);
}
.sustainable-development-wrapper .content-wrapper .description {
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1.5vw, 18px);
}
.sustainable-development-wrapper .content-wrapper .extra-wrapper {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 2vw, 30px);
}
.sustainable-development-wrapper .content-wrapper .extra-wrapper .extra-lr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(5px, 1vw, 16px);
}
.sustainable-development-wrapper .content-wrapper .extra-wrapper .extra-lr img {
  width: 48px;
  height: 48px;
}
.sustainable-development-wrapper
  .content-wrapper
  .extra-wrapper
  .extra-lr
  .header-title {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  font-size: clamp(16px, 1.5vw, 20px);
}
/* sustainable development end */

/* about description (home) start */
.green-bg {
  background-color: var(--green-bg);
}
.about-description-wrapper {
  padding: clamp(20px, 8vw, 96px) 0;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 50px);
}
.about-description-wrapper .about-description-wrapper-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 2vw, 10px);
}
.about-description-wrapper .about-description-wrapper-top .enter-title {
  color: var(--black);
  font-weight: 600;
  margin: 0;
  font-size: clamp(14px, 1vw, 16px);
}
.about-description-wrapper
  .about-description-wrapper-top
  .about-description-header {
  color: var(--black);
  width: 100%;
  max-width: 768px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  font-size: clamp(24px, 3.5vw, 48px);
}
.about-description-wrapper
  .about-description-wrapper-top
  .about-description-title {
  width: 100%;
  max-width: 768px;
  text-align: center;
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1.5vw, 18px);
}
.about-description-wrapper .about-description-wrapper-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(10px, 2vw, 30px);
}
.about-description-wrapper .about-description-wrapper-bottom .box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: clamp(10px, 2vw, 30px);
}
.about-description-wrapper .about-description-wrapper-bottom .box img {
  width: 48px;
  height: 48px;
}
.about-description-wrapper
  .about-description-wrapper-bottom
  .box
  .about-bottom-header {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  font-size: clamp(18px, 2vw, 27px);
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.about-description-wrapper
  .about-description-wrapper-bottom
  .box
  .about-bottom-description {
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(13px, 1vw, 16px);
}
.about-description-wrapper .about-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 1.5vw, 30px);
  margin-top: clamp(10px, 1.5vw, 30px);
}
.about-description-wrapper .about-btn-wrapper .request-btn {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  font-weight: 400;
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
/* about description (home) end */

/* percent section start */
.percent-container {
  padding: clamp(20px, 8vw, 96px) 0;
}
.percent-container .percent-left-wrapper .extra-header {
  font-weight: 600;
  color: var(--black);
  margin-bottom: clamp(10px, 1.5vw, 20px);
  font-size: clamp(13px, 1vw, 16px);
}
.percent-container .percent-left-wrapper .main-header {
  color: var(--black);
  width: 100%;
  max-width: 768px;
  font-weight: 700;
  margin: 0;
  font-size: clamp(24px, 3.5vw, 48px);
}
.percent-container .percent-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2vw, 30px);
}
.percent-container .percent-right-wrapper .percent-content-description {
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1.5vw, 18px);
}
.percent-container .percent-right-wrapper .percent-btn-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 2vw, 30px);
}
.percent-container .percent-right-wrapper .percent-btn-wrapper .request-btn {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  font-weight: 400;
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
.percent-container .percent-wrapper {
  margin-top: clamp(20px, 8vw, 100px);
}
.percent-container .percent-wrapper .percent {
  padding: 0 clamp(10px, 2vw, 30px);
  border-left: 2px solid var(--black);
}
.percent-container .percent-wrapper .percent .percent-title {
  font-weight: 700;
  color: var(--black);
  font-size: clamp(40px, 6vw, 80px);
}
.percent-container .percent-wrapper .percent .percent-description {
  font-weight: 700;
  color: var(--black);
  font-size: clamp(15px, 1.5vw, 20px);
}
/* percent section end */

/* news section (home) page start */
.news-wrapper {
  padding: clamp(20px, 8vw, 96px) 0;
}
.news-wrapper .news-above-header {
  text-align: center;
  font-weight: 600;
  font-size: clamp(15px, 1.5vw, 24px);
  color: var(--black);
}
.news-wrapper .news-main-header {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  margin: clamp(10px, 1.5vw, 30px) 0;
  font-size: clamp(24px, 3.5vw, 48px);
}
.news-wrapper .news-card .image img {
  width: 100%;
  border-radius: 16px;
}
.news-wrapper .news-card .news-content {
  padding: clamp(10px, 1.5vw, 20px) 0;
}
.news-wrapper .news-card .news-content .news-extra-header {
  color: var(--black);
  font-weight: 600;
  margin: clamp(5px, 1vw, 15px) 0;
  font-size: clamp(12px, 1vw, 14px);
}
.news-wrapper .news-card .news-content .news-header {
  color: var(--black);
  font-weight: 700;
  margin: clamp(5px, 1vw, 15px) 0;
  font-size: clamp(16px, 1.5vw, 24px);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.news-wrapper .news-card .news-content .news-description {
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(13px, 1.5vw, 16px);
}
.news-wrapper .news-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-wrapper .view-all-news {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  border-color: var(--grey);
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
.news-wrapper .view-all-news a {
  font-weight: 400;
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
/* news section (home) page end */

/* extra section start */
.extra-section-wrapper {
  padding: clamp(20px, 8vw, 96px) 0;
}
.extra-section-wrapper .extra-section-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1.5vw, 30px);
}
.extra-section-wrapper .extra-section-left-wrapper .extra-header {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  font-size: clamp(24px, 3.5vw, 48px);
}
.extra-section-wrapper .extra-section-left-wrapper .extra-description {
  color: var(--black);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1.5vw, 18px);
}
.extra-section-wrapper .extra-section-left-wrapper .extra-btn-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 1.5vw, 30px);
}
.extra-section-wrapper
  .extra-section-left-wrapper
  .extra-btn-wrapper
  .request-btn {
  padding: 8.5px clamp(14px, 1.3vw, 20px);
  font-weight: 400;
  color: var(--black);
  font-size: clamp(14px, 1.3vw, 16px);
}
.extra-section-wrapper .image-wrapper img {
  width: 100%;
  height: clamp(150px, 50vw, 400px);
  border-radius: clamp(16px, 3vw, 40px);
  object-fit: cover;
}
/* extra section end */

/* MAIN END */
/* ================================================================== */
/* ================================================================== */

/* ABOUT PAGE START */
.about-banner {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1440 / 490;
  height: auto;
  object-fit: cover;
  max-height: 482px;
  position: relative;
}
.about-banner .banner-content {
  position: absolute;
  top: 20%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.about-banner .banner-content .about-header-top {
  color: var(--white);
  font-weight: 600;
  margin-bottom: clamp(1px, 1vw, 16px);
  font-size: clamp(14px, 1.3vw, 16px);
}
.about-banner .banner-content .about-header-bottom {
  color: var(--white);
  font-weight: 700;
  margin: 0;
  font-size: clamp(24px, 3.5vw, 48px);
}
/* ABOUT PAGE END */

/* ================================================================== */
/* ================================================================== */

/* REQUEST MODAL START */
.request-modal {
  position: fixed;
  width: 100%;
  max-width: clamp(300px, 90vw, 650px);
  background-color: var(--white);
  padding: clamp(10px, 2vw, 25px);
  border-radius: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.request-modal .request-modal-header {
  display: flex;
  justify-content: end;
}
.request-modal .request-modal-body .request-modal-header-content {
  text-align: center;
  padding: 10px clamp(5px, 3vw, 37px);
}
.request-modal .request-modal-body .request-modal-header-content h1 {
  color: var(--black);
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: clamp(26px, 4vw, 48px);
}
.request-modal .request-modal-body .request-modal-header-content p {
  color: var(--black);
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: clamp(15px, 1.5vw, 18px);
}
.request-modal .request-modal-body .form-wrapper {
  padding: 10px clamp(5px, 3vw, 37px);
}
.request-modal .request-modal-body .form-wrapper label {
  margin-bottom: 0;
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper input {
  padding: 10px;
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper input:focus {
  box-shadow: 0 0 0 0.05rem var(--blue);
}
.request-modal .request-modal-body .form-wrapper textarea {
  color: var(--black);
  font-weight: 400;
  font-size: clamp(13px, 1vw, 16px);
}
.request-modal .request-modal-body .form-wrapper textarea:focus {
  box-shadow: 0 0 0 0.05rem var(--blue);
}
.request-modal .request-modal-body .form-wrapper .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.request-modal .request-modal-body .form-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  padding: 7px clamp(14px, 1.3vw, 20px);
  border-radius: 8px;
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 16px);
  color: var(--white);
  background-color: var(--blue);
}
/* REQUEST MODAL END */

/* ================================================================== */

/* OVERLAY START */
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
}
/* OVERLAY END */

/* ================================================================== */

/* FOOTER START */
/* footer partner start */
.footer-top-partner-wrapper {
  padding-bottom: clamp(20px, 4vw, 56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(10px, 1.5vw, 30px);
}
.footer-top-partner-wrapper .footer-left-wrapper .partner-header {
  color: var(--black);
  font-weight: 700;
  margin: 0;
  width: 100%;
  max-width: 300px;
  font-size: clamp(14px, 1.5vw, 18px);
}
.footer-top-partner-wrapper .footer-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 1.5vw, 30px);
}
.footer-top-partner-wrapper .footer-right-wrapper img {
  width: 100%;
  max-width: 130px;
  height: auto;
  object-fit: cover;
}

.footer-main-section {
  background-color: var(--black);
}
.footer-main-section .footer-main-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 1.5vw, 30px);
  padding: clamp(40px, 6vw, 76px) 0;
  border-bottom: 1px solid var(--white);
}
.footer-main-section .footer-main-top-wrapper .footer-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: clamp(10px, 1.5vw, 30px);
}
.footer-main-section .footer-main-top-wrapper .footer-menu ul li a {
  color: var(--white);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1vw, 14px);
}
.footer-main-section .footer-main-top-wrapper .footer-menu ul li a:hover {
  color: var(--blue);
}
.footer-main-section .footer-main-top-wrapper .social-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 1vw, 10px);
  padding: 2px;
}
.footer-main-section .footer-main-top-wrapper .social-link-wrapper img {
  width: 25px;
  height: 25px;
}
.footer-main-section .footer-main-top-wrapper .social-link-wrapper a:hover img {
  transform: scale(1.1);
}
/* .footer-main-section .footer-main-top-wrapper .social-link-wrapper:hover> :not(:hover) {
    opacity: 0.8;
    filter: blur(2px);
    filter: invert(25%) sepia(37%) saturate(5564%) hue-rotate(186deg) brightness(89%) contrast(105%);
    } */
.footer-main-section .footer-main-bottom-wrapper {
  margin: 0 auto;
  padding: clamp(10px, 4vw, 40px) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px, 1.5vw, 30px);
}
.footer-main-section .footer-main-bottom-wrapper p {
  color: var(--light-grey);
  font-weight: 400;
  margin: 0;
  font-size: clamp(14px, 1vw, 14px);
}
.footer-main-section .footer-main-bottom-wrapper a {
  color: var(--light-grey);
  font-weight: 400;
  margin: 0;
  text-decoration: underline;
  font-size: clamp(14px, 1vw, 14px);
}
.footer-main-section .footer-main-bottom-wrapper a:hover {
  color: var(--blue);
}
/* footer partner end */
/* FOOTER END */
