@media (max-width: 1400px) {
  .container {
    padding: 0 55px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  .about-description-wrapper .about-description-wrapper-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .banner-content-wrapper .banner-content-description-wrapper {
    margin-top: 15px;
  }
  .about-description-wrapper .about-description-wrapper-bottom {
    grid-template-columns: auto;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  .banner-content-wrapper .banner-content-header {
    text-align: center;
  }
  .banner-content-wrapper
    .banner-content-description-wrapper
    .banner-content-description {
    text-align: center;
  }
  .banner-content-wrapper
    .banner-content-description-wrapper
    .banner-content-btn-wrapper {
    justify-content: center;
  }
  .sustainable-development-wrapper .content-wrapper .header {
    text-align: center;
  }
  .sustainable-development-wrapper .content-wrapper .description {
    text-align: center;
  }
  .sustainable-development-wrapper .content-wrapper .extra-wrapper {
    justify-content: center;
  }
  .sustainable-development-wrapper .content-wrapper .extra-wrapper .extra-lr {
    align-items: center;
  }
}

@media (max-width: 495px) {
}

@media (max-width: 365px) {
}
